@use "core/00_settings" as *;

:root {
	--shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	--radius: #{fcp(20)};
	--header-h: #{fcp(80)};

	scroll-padding-top: calc(var(--header-h) * 1.5);

	@include mq("tab") {
		--header-h: #{fcs(55)};
	}
}
