@use "core/00_settings"as *;

.card-modal {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: min(1000px, 95vw);
	padding: fcp(50) fcp(20) fcp(20);
	border: none;
	border-radius: var(--radius);
	background: #fff;
}

.card-modal::backdrop {
	background: rgba(0, 0, 0, 0.6);
}

.card-modal__close {
	position: absolute;
	top: fcp(10);
	right: fcp(10);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fcp(36);
	aspect-ratio: 1/1;
	border: 1px solid #211102;
	border-radius: 100%;
	background: #fff;
	font-size: fcp(20);
	color: #211102;
	font-weight: 700;
	transition: opacity 0.3s ease;
	will-change: opacity;
}

.card-modal__content {
	display: grid;
	grid-template-columns: 35% 1fr;
	gap: fcp(24);
}

.card-modal__body {
	display: flex;
	flex-direction: column;
	gap: fcp(20);
	padding-top: fcp(30);

	.card__heading {
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
		gap: fcp(10);
		padding-bottom: fcp(12);
		border-bottom: 1px solid #211102;
	}

	.card__id {
		font-size: fcp(16);
		font-weight: 500;
	}

	.card__ttl {
		font-size: fcp(22);
		font-weight: 700;
	}

	.card__meta {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: fcp(12);
	}

	.card__chip {
		padding: fcp(6) fcp(12);
		border: 1px solid #211102;
		border-radius: 1000px;
		font-size: fcp(14);
		font-weight: 500;

		&--red {
			border-color: #c62828;
			color: #c62828;
		}

		&--blue {
			border-color: #1565c0;
			color: #1565c0;
		}

		&--green {
			border-color: #2e7d32;
			color: #2e7d32;
		}

		&--yellow {
			border-color: #f9a825;
			color: #8d6e00;
		}

		&--purple {
			border-color: #6a1b9a;
			color: #6a1b9a;
		}
	}

	.card__characteristic,
	.card__txt,
	.card__trash {
		font-size: fcp(16);
		font-weight: 500;
		line-height: 1.8;
	}


	.card__characteristic span,
	.card__trash span {
		font-weight: 700;
	}
}

@media (hover: hover) {
	.card-modal__close:hover {
		opacity: 0.6;
	}
}

.card-modal__close:focus-visible {
	opacity: 0.6;
}

@include mq("tab") {
	.card-modal {
		height: calc(100dvh - #{fcs(30)});
		padding: fcs(37) fcs(15) fcs(15);
	}

	.card-modal__close {
		top: fcs(7);
		right: fcs(7);
		z-index: 1;
		width: fcs(27);
		font-size: fcs(18);
	}

	.card-modal__content {
		display: block;
		height: 100%;
		overflow-y: auto;
		overscroll-behavior: contain;
	}

	.card-modal__img {
		width: 65%;
		margin-bottom: fcs(16);
		margin-inline: auto;
	}

	.card-modal__body {
		gap: fcs(15);
		padding-top: 0;

		.card__heading {
			display: grid;
			gap: fcs(7);
			padding-bottom: fcs(10);
		}

		.card__id {
			font-size: fcs(14);
		}

		.card__ttl {
			font-size: fcs(17);
			line-height: 1.3;
		}

		.card__meta {
			gap: fcs(10);
		}

		.card__chip {
			padding: fcs(5) fcs(10);
			font-size: fcs(12);
		}

		.card__characteristic,
		.card__txt,
		.card__trash {
			font-size: fcs(14);
		}
	}
}